<div class="dashboard_tab_button" data-aos="fade-up" data-aos-delay="0">
    <ul role="tablist" class="nav flex-column dashboard-list">
        <li><a href="#dashboard" data-bs-toggle="tab"
                class="nav-link btn btn-block btn-md btn-black-default-hover active">Dashboard</a>
        </li>
        <li> <a href="#orders" data-bs-toggle="tab"
                class="nav-link btn btn-block btn-md btn-black-default-hover">My Orders</a></li>
        <!-- <li><a href="#downloads" data-bs-toggle="tab"
                class="nav-link btn btn-block btn-md btn-black-default-hover">Downloads</a></li> -->
        <li><a href="#address" data-bs-toggle="tab"
                class="nav-link btn btn-block btn-md btn-black-default-hover">Edit Profile</a></li>
        <li><a href="#account-details" data-bs-toggle="tab"
                class="nav-link btn btn-block btn-md btn-black-default-hover">Change Password</a>
        </li>
        <li><a href="{% url 'signout' %}"
                class="nav-link btn btn-block btn-md btn-black-default-hover">logout</a></li>
    </ul>
</div>